@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  margin: 0;
  font-family: Open Sans, sans-serif;

  background-image: linear-gradient(135deg, cyan, yellow); /* W3C */
  background-image: -moz-linear-gradient(135deg, cyan, yellow); /*Mozilla*/
  background-image: -webkit-linear-gradient(
    135deg,
    cyan,
    yellow
  ); /*chrome 10+ and Safari5.1*/
  background-image: -webkit-gradient(
    linear,
    135deg,
    cyan,
    yellow
  ); /*Chrome, Safari4*/
  /* to avoid linear gradient repeat */
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* Note Creation Style */
header,
.createNote,
#createNoteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header {
  margin-left: auto;
  margin-right: auto;
}

/* Form Style */
.noteBG {
  background-color: rgba(255, 255, 255, 0.75);
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 1px;
  margin-left: 1px;
  height: 300px;
  overflow: auto;
}
.div4Btn {
  display: flex;
  justify-content: center;
  width: 280px;
  position: relative;
}
#noteContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1400px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Note Styles */
.createTitle,
#writeNote,
.newNote {
  background: none;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  width: 85%;
}

.createTitle {
  font-size: 18px;
  margin-bottom: 5px;
  outline: none;
}
#writeNote,
.newNote {
  font-size: 14px;
  margin-bottom: 5px;
  height: 80%;
  resize: none;
  outline: none;
}

#addNote {
  position: absolute;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 5px;
  outline: none;
  right: 3px;
  top: 50px;
  background-color: white;
}

#addNote:hover {
  cursor: pointer;
  background-color: rgb(220, 220, 220);
}
#addNote:active {
  background-color: rgb(201, 201, 201);
}

/* Generated Notes Styles */

.newNoteContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.optionBtn {
  left: 0px;
  position: absolute;
  /* Styles */
  background-color: rgb(255, 196, 0);
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: white;
  font-weight: bolder;
  align-content: center;
  cursor: pointer;
}
.optionBtn:hover {
  background-color: rgb(255, 209, 59);
}
.optionBtn:active {
  background-color: rgb(202, 155, 0);
}

.generateTitle {
  background: none;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  width: 85%;
  font-size: 18px;
  margin-bottom: 5px;
  outline: none;
}

.drpDownList {
  display: flex;
  position: absolute;
  right: -13px;
  justify-content: center;
}

.drpDownList ul {
  background: rgb(255, 196, 0);
  margin: 0;
  padding: 0;
  margin-top: 20px;
  width: 70px;
  height: 60px;
}

.hideOptBtn {
  opacity: 0;
  pointer-events: none;
}

.showOptBtn {
  opacity: 1;
  pointer-events: all;
}
.drpDownList ul > li {
  margin-top: 5px;
  margin-left: 10px;
  list-style: none;
}

/* -------------------------------------------------------- MEDIA-------------------------------------------------------- */

@media (max-width: 1400px) {
  #noteContainer {
    width: 1300px;
  }
}
@media (max-width: 1300px) {
  #noteContainer {
    width: 1000px;
  }
}
@media (max-width: 900px) {
  #noteContainer {
    width: 600px;
  }
}

@media (max-width: 600px) {
  #noteContainer {
    width: 270px;
  }
}
